.app{
    background-color: rgb(24,24,25);
}

.appBody{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.goToTop{
    position: fixed;
    bottom: 10%;
    left: 0px;
    color: white;
    font-size: 1.8rem;
    background-color: rgb(198, 197, 197);
    color: rgb(74, 73, 73);
    width: 40px;
    text-align: center;
    cursor: pointer;
}

